.modal {
  position: absolute;
  background-color: #1e1e1e;
  border: 1px solid #555;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: Consolas, monospace;
  user-select: none;
  flex-direction: column;
  display: flex;

  .header {
    height: 32px;
    background-color: #333;
    // padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 8px;
    cursor: move;
    color: white;

    // button {
    //   background: none;
    //   border: none;
    //   color: white;
    //   cursor: pointer;
    //   font-size: 16px;

    //   &:hover {
    //     color: red;
    //   }
    // }

    .window-controls {
        margin-left: auto;
        display: flex;
        gap: 4px;

        button {
          background: transparent;
          border: none;
          color: white;
          font-size: 14px;
          cursor: pointer;

          &:hover {
          background: rgba(255, 255, 255, 0.1);
          }
        }

        .crossBtn{
          button {
          background: transparent;
          border: none;
          color: white;
          font-size: 14px;
          cursor: pointer;

          &:hover {
          background: rgba(153, 11, 11, 0.708);
          color: red;
          }
        }
        }

      }

  }

  .body {
    // padding: 12px;
    flex: 1;
    overflow: auto;
    // white-space: pre-wrap;
    // height: calc(100% - 40px);
  }

  .resize-handle{
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background: #444;
  }
}
