.desktop{
  height: 100vh;
  gap: 0px;
  grid-template-columns: repeat(auto-fill, 80px);
  display: grid;
  padding: 20px 10px 60px;
  background: url('https://wallpaperaccess.com/full/220728.jpg') no-repeat center center/cover;
  padding-bottom: 0px ;
}
.hidden{
  display: none;
}
