<div  class="desktop">
  <app-desktop-icon [label]="'AboutMe.md'" [icon]="'description'" [onDoubleClick]="handleAboutMeDoubleClick"></app-desktop-icon>

  <app-desktop-icon [label]="'Projects.json'" [icon]="'code'" [onDoubleClick]="handleProjectsDoubleClick"></app-desktop-icon>

</div>
<<ng-container *ngFor="let win of windowManager.windows$|async">
      <app-content-modal *ngIf="!win.isMinimized" [title]="win.title" [content]="win.content" [id]="win.id" [zIndex]="win.zIndex" (close)="handleClose($event)" (focus)="handleFocus($event)"  (minimize)="handleMinimize($event)"></app-content-modal>
</ng-container>
<app-taskbar [openWindows]="windowManager.windows" (openWindow)="handleRestore($event)" (startClicked)="toggleStartMenu()"
></app-taskbar>
<app-start-menu *ngIf="startMenuOpen"></app-start-menu>
